/*color variable*/
$background:rgb(92, 17, 52);
$button-text:#fffffe;
$secondary-text:#d9d4e7;
$text-highlight:#a786df;
$logo-font: 'EB Garamond', serif;
$title:clamp(1rem, 0.5rem + 5vw, 4rem);
$main-color: rgb(215, 164, 199);

